body {
  background-color: rgb(244, 244, 244);
  height: 100vh;
}

h1 {
  color: rgb(25, 25, 25);
  text-align: center;
  font-size: 30px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page {
  height: 100vh;
}
